[Unit]
Description=cobs_to_shm
Conflicts=udp_to_shm.service
Before=network.target

[Service]
Type=simple
Restart=always
RestartSec=4
CPUAffinity=0
ExecStart=/usr/local/bin/udp_to_shm --shm /cobs_to_shm --heartbeat 192.168.7.1
LimitNICE=-20

[Install]
WantedBy=multi-user.target
