[Unit]
Description=cobs_to_shm
Conflicts=udp_to_shm.service

[Service]
Type=simple
Restart=always
RestartSec=4
CPUAffinity=0
ExecStartPre=sh -c "echo 1 > /sys/class/net/usb0/queues/rx-0/rps_cpus"
ExecStart=/usr/local/bin/udp_to_shm --shm /cobs_to_shm --heartbeat 192.168.7.1
LimitNICE=-20

[Install]
WantedBy=multi-user.target
