[Unit]
Description=udp_to_shm

[Service]
Type=simple
Restart=always
RestartSec=4
ExecStart=/usr/local/bin/udp_to_shm --shm /cobs_to_shm --heartbeat 192.168.7.1
LimitNICE=-20

[Install]
WantedBy=multi-user.target
