[Unit]
Description=udp_to_shm

[Service]
Type=simple
Restart=always
RestartSec=4
ExecStart=sh -c "exec /usr/local/bin/udp_to_shm"
LimitNICE=-20

[Install]
WantedBy=multi-user.target
